@import '../../styles/variables';

.status-badge {
  padding: 6px 12px;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  min-width: 80px;

  // Modifiers for different statuses
  &--active {
    color: #39CD62;
    background-color: rgba(57, 205, 98, 0.06);
  }

  &--inactive {
    color: #545F7D;
    background-color: rgba(84, 95, 125, 0.06);
  }

  &--pending {
    color: #E9B200;
    background-color: rgba(233, 178, 0, 0.06);
  }

  &--blacklisted {
    color: #E4033B;
    background-color: rgba(228, 3, 59, 0.06);
  }
}