@use '../../styles/abstracts/variables' as *;

.table-container {
  width: 100%;
  background: white;
  border: 1px solid rgba(33, 63, 125, 0.06);
  border-radius: 4px;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  padding: 30px;
  overflow-x: auto; 

  .user-table {
    width: 100%;
    border-collapse: collapse;
    min-width: 900px; 
    
    thead {
      th {
        text-align: left;
        font-size: 12px;
        font-weight: 600;
        color: #545F7D; // Matching Figma text color
        padding-bottom: 20px;
        position: relative; 
        
        .th-content {
          display: flex;
          align-items: center;
          gap: 8px;
          cursor: pointer;
          
          span {
            white-space: nowrap;
          }

          .filter-icon {
            color: #545F7D;
          }
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid rgba(33, 63, 125, 0.1);
        &:last-child { border-bottom: none; }
        
        &.clickable-row {
          cursor: pointer;
          transition: background 0.2s;
          &:hover { background-color: #f9fafb; }
        }
      }

      td {
        padding: 24px 10px;
        font-size: 14px;
        color: #545F7D;
        vertical-align: middle;
      }
    }
  }
}

// Status Pill Styles
.status-pill {
  padding: 6px 12px;
  border-radius: 100px;
  font-size: 12px;
  display: inline-block;

  &--active {
    background: rgba(57, 205, 98, 0.06);
    color: #39CD62;
  }
  &--inactive {
    background: rgba(84, 95, 125, 0.06);
    color: #545F7D;
  }
  &--pending {
    background: rgba(233, 178, 0, 0.06);
    color: #E9B200;
  }
  &--blacklisted {
    background: rgba(228, 3, 59, 0.06);
    color: #E4033B;
  }
}